@import "tailwindcss";
@plugin "daisyui";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #e8e8e8;
}

a.active {
  background: linear-gradient(to right, #632ee3, #9f62f2);
  background-clip: text;
  color: transparent;
  border-bottom: #632ee3 solid 2px;
}

.swal-confirm-btn {
  background-color: #6734e4 !important;
  color: #fff !important;
  border: none !important;
  padding: 10px 22px !important;
  border-radius: 6px !important;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.swal-cancel-btn {
  background-color: #d33 !important;
  color: #fff !important;
  border: none !important;
  padding: 10px 22px !important;
  border-radius: 6px !important;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.swal-actions {
  display: flex !important;
  justify-content: center !important;
  gap: 24px !important; /* 24px space between buttons */
}

